@model projectFlight.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div>
        Customer First Name: @Model.firstName
        <br />
        Customer Last Name: @Model.lastName
        <br />
        Customer num: @Model.passportNum
        <br />
        Customer id: @Model.custId
        <br />
        Customer mail: @Model.mail

        <br />



    </div>
</body>
</html>
