@model projectFlight.Models.Customer
@using projectFlight.Models;

@{
    ViewBag.Title = "EnterCustomer";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enter</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/myScript.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {

            @Html.LabelFor(m => m.firstName)
            @Html.EditorFor(m => m.firstName)

            @Html.LabelFor(m => m.lastName)
            @Html.EditorFor(m => m.lastName)

            @Html.LabelFor(m => m.passportNum)
            @Html.EditorFor(m => m.passportNum)

            @Html.LabelFor(m => m.custId)
            @Html.EditorFor(m => m.custId)

            @Html.LabelFor(m => m.mail)
            @Html.EditorFor(m => m.mail)

            <input id="Submit1" type="submit" value="Sign up" />

        }

    </div>
</body>
</html>


@*@Html.LabelFor(m => m.Customer.firstName)
@Html.EditorFor(m => m.Customer.firstName)

@Html.LabelFor(m => m.Customer.lastName)
@Html.EditorFor(m => m.Customer.lastName)

@Html.LabelFor(m => m.Customer.passportNum)
@Html.EditorFor(m => m.Customer.passportNum)

@Html.LabelFor(m => m.Customer.custId)
@Html.EditorFor(m => m.Customer.custId)

@Html.LabelFor(m => m.Customer.mail)
@Html.EditorFor(m => m.Customer.mail)*@