@model IEnumerable<projectFlight.Models.Order>
@using projectFlight.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginToOrders</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SearchOrders", "Customer", FormMethod.Post))
        {


            <h1>enter id</h1><input id="Text1" type="text" name="custID" />

            <input id="Submit3" type="submit" value="Go to my orders" />
        }

        <table class="table">
            <tr>
                <th>Customer ID</th>
                <th>Flight Number</th>
                <th>No. of Tickets</th>
                <th>Total Price</th>
                <th>Order ID </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.custumerId</td>
                    <td>@item.flightId</td>
                    <td>@item.NoTicket</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.orderId</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>








