@model projectFlight.ViewModel.CustomerViewModel
    @using projectFlight.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginCustomer</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.LabelFor(m => m.Customer.passportNum)
            @Html.EditorFor(m => m.Customer.passportNum)
            @Html.ValidationMessageFor(m => m.passportNum)


            @Html.LabelFor(m => m.Customer.custId)
            @Html.EditorFor(m => m.Customer.custId)
            @Html.ValidationMessageFor(m => m.custId)

            @Html.LabelFor(m => m.Customer.mail)
            @Html.EditorFor(m => m.Customer.mail)
            @Html.ValidationMessageFor(m => m.mail)

            <input id="Submit" type="submit" value="Sign in" />
        }
    </div>
    <div>
        @Html.ActionLink("Go To Search", "Index", "Home") |@Html.ActionLink("Watch My orders", "LoginToOrders","Customer")
    </div>
</body>
</html>
