@model projectFlight.ViewModel.FlightViewModel

@using projectFlight.Models;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/19bc22f122.js"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
    <title>Index</title>
</head>
<body>

    <div id="header"
         class="bg-gradient-to-br from-blue-900 to-blue-500 h-72"></div>


    <div class="container mx-auto flex flex-col pt-5 pb-5">

        <div id="booking"
             class="mt-10 border p-5 shadow-xl shadow-blue-800/05 rounded-md -translate-y-40 bg-white">
            <div class="col-md-4">

                <form class="flex justify-between" action="Index" method="post">
                    <div class="flex flex-col w-1/5 gap-3">
                        @Html.LabelFor(m => m.Flight.flightTo, "Destination")
                        @Html.EditorFor(m => m.Flight.flightTo)
                        <input id="Text1" name="txtWhere" type="text" class="border rounded-sm p-3 focus:border-blue-300 transition ease-in-out" />
                    </div>

                    <div class="flex flex-col w-1/5 gap-3">
                        @Html.LabelFor(m => m.Flight.flightFrom, "From")
                        @Html.EditorFor(m => m.Flight.flightFrom)
                        <input id="Text2" name="txtFrom" type="text" class="border rounded-sm p-3 focus:border-blue-300 transition ease-in-out" />
                    </div>
                    <div class="flex flex-col w-1/5 gap-3">
                        @Html.LabelFor(m => m.Flight.dateFlight, "Date")
                        @Html.EditorFor(m => m.Flight.dateFlight)
                        <input id="Text3" name="txtDate" type="date" class="border rounded-sm p-3 focus:border-blue-300 transition ease-in-out" />
                    </div>
                    <div class="flex flex-col w-1/5 gap-3">
                        @Html.LabelFor(m => m.Flight.dateBackFlight, "Date Back")
                        @Html.EditorFor(m => m.Flight.dateBackFlight)

                        <input id="Text4" name="txtDateBack" type="date" class="border rounded-sm p-3 focus:border-blue-300 transition ease-in-out" />
                    </div>
                    <div class="flex flex-col gap-3">

                        @*@Html.RadioButton(m => m.Flight.oneWay, "One way")
                         @Html.RadioButton(m => m.Flight.oneWay, "Two ways")*@
                        @*@Html.LabelFor(m => m.Flight.oneWay, "One way?")*@
                        @*@Html.EditorFor(m => m.Flight.oneWay)*@
                        @*@Html.CheckBoxFor(m => m.Flight.oneWay)*@
                        <span>One Way</span>
                        <input type="radio" name="radioButton" value="One Way" />
                        <span>Two Ways </span><input type="radio" name="radioButton" value="Two Ways" />
                        @*<input id="Text4" name="oneWay" type="checkbox" class="border rounded-sm p-3 focus:border-blue-300 transition ease-in-out" />*@

                    </div>

                    <div class="flex flex-col justify-end">
                        <input id="Submit1" type="submit" value="Search Flight"
                               class="rounded-sm p-3 w-full bg-gradient-to-r bg-blue-500 hover:bg-blue-800 text-white mb-0.5 cursor-pointer transition ease-in-out" />
                    </div>
                </form>

            </div>

        </div>



        <div class="mt-10 border p-5 shadow-xl shadow-blue-800/05 rounded-md bg-white flex justify-center items-center">

            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>

                        <th scope="col" class="py-3 px-6">Flight Number</th>

                        <th scope="col" class="py-3 px-6">From</th>

                        <th scope="col" class="py-3 px-6">Destination</th>

                        <th scope="col" class="py-3 px-6">Price per preson</th>

                        <th scope="col" class="py-3 px-6">Date of depart</th>

                        <th scope="col" class="py-3 px-6">Time of depart</th>

                        <th scope="col" class="py-3 px-6">Date of back flight</th>
                    </tr>
                <thead>

                <tbody>

                    @foreach (Flight f in Model.Flights)
                    {
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                            <td class="py-4 px-6">@f.flightId</td>

                            <td class="py-4 px-6">@f.flightFrom</td>
                            <td class="py-4 px-6">@f.flightTo</td>
                            <td class="py-4 px-6">@f.price</td>
                            <td class="py-4 px-6">@f.dateFlight.ToShortDateString()</td>
                            <td class="py-4 px-6">@f.timeFlight</td>
                            <td class="py-4 px-6">@f.dateBackFlight </td>
                            <td class="rounded-sm p-3">
                               
                                @if (!f.dateFlight.ToShortDateString().Contains(DateTime.Today.ToShortDateString()))
                                {
                                    if (f.numberOfSeats > 0)


                                {
                                    using (Html.BeginForm("Payment", "Order", FormMethod.Post))
                                    {
                                        @Html.Hidden("fid", f.flightId)
                                        @Html.Hidden("ffrom", f.flightFrom)
                                        @Html.Hidden("fto", f.flightTo)
                                        @Html.Hidden("fprice", f.price)
                                        @Html.Hidden("fdateFlight", f.dateFlight)
                                        @Html.Hidden("fdatebackflight", f.dateBackFlight)
                                        <input id="Submit1" type="submit" value="Book a flight!" />

                                    }
                                }
                                }
                else
                {
                    <h1>Cannot book the flight,please try again!</h1>
                }
                            </td>



                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>?


</body>


</html>
@*new { id = f.flightId }*@
@*@Html.ActionLink("Book a flight!", "BookOrder", new { id = f.flightId })*@
@*Value?.ToString("dd/MM/yyyy"*@